<!DOCTYPE html>
<html lang="en">

<head>
  <title>YouSubs: Edit Channel List</title>
  <style>
    a:link {
      text-decoration: none;
      color: #E1DEDB;
    }

    a:visited {
      text-decoration: none;
      color: #E1DEDB;
    }

    a:hover {
      color: #fff;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      border-radius: 5px;
      padding: 10px 20px;
    }

    .navbar-logo {
      display: flex;
      align-items: center;
    }

    .navbar-title {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
    }

    .navbar-menu {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    .navbar-item {
      margin-left: 20px;
    }

    .navbar-link {
      text-decoration: none;
    }
  </style>
</head>

<body style="background-color: #212325; color: #E1DEDB;">
  <nav class="navbar">
    <div class="navbar-logo">
      <a class="navbar-logo-image" href="/">
        <img src="/icon.png" alt="icon" style="width:30px; border-radius: 100%;">
      </a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="/edit_channel_list" class="navbar-link" style="background-color: #212325; padding: 5px; border-radius: 5px;">Edit Channel List</a>
      </li>
    </ul>
  </nav>
</body>

</html>